/* small devices - screen width equal to or greater than 576px, but less then 768px */
@media screen and (max-width: 768px) and (min-width: 577px) {
  html {
    font-size: 1rem;
  }

  .row.currentMonthRow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-sizing: content-box;
  }

  .row.header {
    display: flex;
    justify-content: flex-start;
  }
  .row {
    display: flex;
    max-width: 100%;
    margin: 0;
  }
  .col {
    font-size: 1.5rem;
    padding: 0;
  }
  .lunarDate,
  .statHolidayName {
    font-size: 0.6rem;
    font-style: italic;
  }

  .container {
    margin: 0 auto;
    max-width: 100%;
  }

  .lunarDate,
  .statHolidayName {
    font-size: 0.6rem;
  }

  .row.currentMonthRow span {
    font-size: 2rem;
    margin: 20px 30px;
  }

  .noStockTrading{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .halfDayStockTrading{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0px;
    right: 0px;
    clip:rect(0,15px,7.5px,0px);
  }
  
}
