/* extra small devices - screen width less than 576px */
@media screen and (max-width: 576px) {
    html {
        font-size: 1rem;
    }
    .row.currentMonthRow{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        box-sizing: content-box;
    }

    .row.header{
        display: flex;
        justify-content: center;
        justify-content: center;
    }

    .calendarBody{
        margin:  0 auto;
        font-size: 0.8em;
    }
    .col {
        height: 70px;
        max-width: 14%;
    }
    .lunarDate, .statHolidayName{
        font-size: 0.6rem;
        margin-top: 15%;
        font-style: italic;
    }
}