/* extra small devices - screen width less than 420px */
@media screen and (max-width: 320px) {
  html {
    font-size: 1rem;
  }

  .row.currentMonthRow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-sizing: content-box;
  }

  .row.header {
    display: flex;
    justify-content: flex-start;
    /* max-width: 14.3%;
    flex-flow: row; */
  }
  .row.header div {
    max-width: 14.27%;
  }
  .row {
    display: flex;
    max-width: 100%;
    margin: 0;
  }
  .col {
    font-size: 1.5rem;
    padding: 0;
    height: 60px;
  }
  .lunarDate,
  .statHolidayName {
    font-size: 0.6rem;
    margin-top: 10%;
    font-style: italic;
  }

  .container {
    margin: 0 auto;
    max-width: 100%;
  }

  .lunarDate,
  .statHolidayName {
    font-size: 0.6rem;
  }

  .row.currentMonthRow span {
    font-size: 1.5rem;
    margin: 10px 15px;
  }
}
